/* Premier chiffre pour id */               
/* Deuxieme chiffre pour class */            
/* Troisieme chiffre pour balise/element */ 

body{
    background-color: #000;
    color: #fff;
    padding: 10% 0 0 0;
    text-align: center;
}
h1{
    border-bottom: 3px solid gray;
}
h2, h3{
    font-size: 2.5rem;
    border-radius: 5px;
}
section{
    float: left;
    width: 40%;
    padding: 1% 5%;
}
/* SURCHARGE */
h2{
    background-color: aqua;
}
h2{
    background-color: red;
}

/* 1-1-2 */
section.surcharge h2#h2{
    background-color: #9F6A29;
}

section#surcharge h2.h2{
    background-color: #97D882;
}

/* SPECIFICITE */
/* 1-0-0-0 */
/* h3{
    background-color: #225560 !important;
} */

/* 1-1-0 */
#h3.h3{
    background-color: #700548;
}

/* 1-0-0 */
#h3{
    background-color: #E2ADF2;
}

/* 0-1-0 */
.h3{
    background-color: #F0803C;
}

/* 0-0-2 */
section > h3{
    background-color: #7899D4;
}

/* 0-0-1 */
h3{
    background-color: #225560;
}
